<header class="p-3 bg-dark text-white">
  <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            Menu
          </a>

          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a *ngIf="isLogin && isadmin" href="/users" class="nav-link px-2 text-secondary">Les utilisateurs</a></li>
              <li><a href="/materials" class="nav-link px-2 text-white">Les materiels</a></li>
              <li><a *ngIf="isLogin && isadmin" href="/all-request" class="nav-link px-2 text-white">Les requetes</a></li>
              <li><a *ngIf="isLogin && !isadmin" href="/my-request" class="nav-link px-2 text-white">Mes materiaux</a></li>
          </ul>
          
          <div class="text-end">
              <button *ngIf="!isLogin" type="button" class="btn btn-outline-light me-2" (click)="login();">Connexion</button>
              <button *ngIf="!isLogin" type="button" class="btn btn-warning" (click)="register();">Inscription</button>
              <button *ngIf="isLogin" type="button" class="btn btn-outline-light me-2" (click)="logout();">Déconnexion</button>
          </div>
      </div>
  </div>
</header>


<router-outlet />